<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Вход</title>
</head>
<body>
<h1>Вход</h1>


<form action="/login" method="post" th:action="@{/login}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <label for="username">Имя пользователя:</label>
    <input type="text" name="username" id="username" required>
    <br>
    <label for="password">Пароль:</label>
    <input type="password" name="password" id="password" required>
    <br>
    <button type="submit">Войти</button>
    <button>
        <a th:href="@{/register}" class="button">Зарегистрироваться</a>
    </button>
    <div th:if="${error}" style="color: red;">
        <p th:text="${error}"></p>
    </div>
</form>
</body>
</html>
