<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
</head>
<body>
<h2>Chat</h2>
<link rel="stylesheet" href="wow.css">


<div id="chat">
    <div th:each="message : ${messagesOfChat}"
         th:class="${message.sender.id == currentUserDTO.id ? 'sender-message' : 'receiver-message'}">
        <strong th:text="${message.sender.nickname}"></strong>:
        <span th:text="${message.content}"></span>
    </div>
</div>

<div>
    <input type="text" id="message" placeholder="Enter your message"/>
    <button onclick="sendMessage()">Send</button>
</div>

<script th:inline="javascript">
    var socket = new SockJS('/chat');
    var stompClient = Stomp.over(socket);
    var currentUser = [[${currentUserDTO}]];
    var receiver = [[${friendDTO}]];
    var currentUserId = currentUser.id;
    var chatId = [[${chatRoom}]];

    stompClient.connect({}, function (frame) {
        console.log('Connected: ' + frame);

        stompClient.subscribe('/user/' + chatId + '/queue/reply', function (messageOutput) {
            var message = JSON.parse(messageOutput.body);
            var chatDiv = document.getElementById("chat");
            var newMessage = document.createElement("div");

            if (message.sender.id === currentUserId) {
                newMessage.classList.add("sender-message");
            } else {
                newMessage.classList.add("receiver-message");
            }
            newMessage.innerHTML = "<strong>" + message.sender.nickname + ": </strong>" + message.content;
            chatDiv.appendChild(newMessage);
            scrollToBottom();
        });
        scrollToBottom();
    });

    function sendMessage() {
        var messageContent = document.getElementById("message").value;
        var message = {
            sender: currentUser,
            chatid: chatId,
            content: messageContent
        };

        stompClient.send("/app/sendMessage", {}, JSON.stringify(message));

        document.getElementById("message").value = '';
    }
    function scrollToBottom() {
        var chatDiv = document.getElementById("chat");
        chatDiv.scrollTop = chatDiv.scrollHeight;
    }
</script>
</body>
