<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <!-- Подключаем внешний JS файл -->
    <script src="wow.js" defer></script> <!-- Замените на путь, где находится ваш chat.js -->
</head>
<body>
<h2>Chat</h2>
<link rel="stylesheet" href="wow.css">


<input type="hidden" id="currentUser" th:value="${JSONcurrentUser}"/>
<input type="hidden" id="receiver" th:value="${JSONreceiver}"/>


<div id="chat"></div>
<div>
    <input type="text" id="message" placeholder="Enter your message"/>
    <button onclick="sendMessage()">Send</button>

</div>

</body>
</html>
